@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$color-text: #fafafa;
$color-white: #fafafa;
$color-red: #ff4d5a;
$color-background-light2: rgb(20, 20, 20);
$color-background: rgb(26, 26, 26);
$color-background-light: rgb(34, 34, 34);
$color-blue: rgba(117, 255, 255, 0.945);
$color-blue3: rgba(117, 255, 255, 0.363);
$color-blue2: rgba(117, 255, 255, 0.548);
$color-blue-dark: rgb(50, 22, 187);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%; // 1 rem = 10 px (browser default is 16)

  scroll-behavior: smooth;

  @media (max-width: 1500px) {
    font-size: 57.25%;
  }

  @media (max-width: 1200px) {
    font-size: 50%;
  }

  @media (max-width: 770px) {
    font-size: 43.75%;
  }

  @media (max-width: 615px) {
    font-size: 40%;
  }

  @media (max-width: 350px) {
    font-size: 35%;
  }
}

body {
  min-height: 100vh;
  color: $color-text;
  font-family: montserrat, sans-serif;
  background-color: $color-background;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}