.navigation {
  display: flex;
  margin-right: 0rem;

  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;

  @media (max-width: 1200px) {
    margin-right: 3rem;
  }

  @media (max-width: 700px) {
    margin-right: 0;
  }

  &-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
    align-items: center;
    height: 6rem;
    border-bottom: 0px solid $color-background;
    background-color: rgba($color-background-light, 0.45);
    backdrop-filter: blur(8px);

    box-shadow: 0 4px 4px rgba(105, 130, 146, 0.274);

    z-index: 99999999999;

    @media (max-width: 700px) {
      justify-content: center;
    }
  }

  &__item {
    transition: all 0.2s;
    &:not(:last-child) {
      margin-right: 3rem;
    }

    &--active {
      color: $color-blue;
      // font-weight: 600;
    }
    &:hover {
      color: $color-blue;
      // font-weight: 600;
    }
  }
}
